@{
    ViewBag.Title = "Unauthorized Access";
}

<h2>Unauthorized Access</h2>
<p>You do not have permission to view this page. Please contact the administrator if you believe this is an error.</p>

<p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Return to Home</a>
</p>